<%= render "shared/login_form" unless current_member %>

<h2> News </h2>
<ul>
  <% 5.times do |i| %>
    <li><%= link_to "title of news" , "#" %> </li>
  <% end %>
</ul>

<h2> Blog </h2>
<ul>
  <% 5.times do |i| %>
    <li> <%= link_to "blog", "#" %> </li>
  <% end %>
</ul>
